<!-- Footer -->
<footer class="page-footer sticky-bottom font-small blue pt-4" style="margin-top: 100px; text-align: center;">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row -->
    <div class="row justify-content-evenly">




      <!-- Grid column -->
      <div class="col align-self-start">

        <!-- Links -->
        <h5 style="color: white; font-family: Courier;" class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/group">About Us</a>
          </li>
          <li>
            <a href="/projects">Our Projects</a>
          </li>
          <li>
            <a href="/survey-list">Surveys</a>
          </li>
          <li>
            <a href="/mypage">My Surveys</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col align-self-end">

        <!-- Links -->
        <h5 style="color: rgb(4, 76, 84); font-variant: Courier; text-align: left; margin-left: 10px;"
          class="text-uppercase">Connect with us</h5>



      </div>
      <!-- Grid column -->



      <!-- Grid row -->

      <div class="footer-copyright text-center py-3">
        <p style="color: rgb(4, 76, 84);">&copy; Copyright 2022. All Rights reserved. Developed by <a
            href="/group">Group
            04</a></p>
      </div>

    </div>
    <!-- Footer Links -->




</footer>
<!-- Footer -->