<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>

    <!-- Main Content -->
    <div class='container-fluid'>
      <div class="row outerDiv">
        <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
          <img class="img-responsive" style="margin-top: 100%" id="swoosh" src="../Assets/images/sideimagel.png">
        </div>
        <div class="col">
          <main class="container">
            <div style="text-align:center;">

              <div class="container">
                <h1 class="fill fw-bold" style="text-align:center; color: rgb(211, 28, 101);">Team Name: Web Survey Site
                </h1>
                <h1 class="fill fw-bold" style="text-align:center; color: rgb(211, 28, 101);">Team Members (group 04)
                </h1>
                <div class="groupRow">
                  <div class="column">
                    <img src="../Assets/images/boy.jpg" width="100" height="100">
                    <p><br><b>Shahab Heidari</b><br> Lead Software Engineer</p>
                  </div>
                  <div class="column">
                    <img src="../Assets/images/boy.jpg" width="100" height="100">
                    <p><br><b>Lucas Fan</b> <br>Project Manager</p>
                  </div>
                  <div class="column">
                    <img src="../Assets/images/profilepic.png" width="100" height="100">
                    <p><br><b>Sejin Jung </b> <br> Web Designer</p>
                  </div>
                </div>
                <div class="groupRow">
                </div>
                <div class="groupRow">
                  <div class="column">
                    <img src="../Assets/images/boy.jpg" width="100" height="100">
                    <p><br><b>Ebenezer Chijioke</b> <br> Database Programmer</p>
                  </div>
                  <div class="column">
                    <img src="../Assets/images/boy.jpg" width="100" height="100">
                    <p><br><b>Ashwani Singh </b> <br> Security Programmer</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
        </main>
      </div>
    </div>

    <%- include('partials/bottom_nav'); -%>
      <%- include('partials/footer'); -%>