<%- include partials/header.ejs %>

  <%- include partials/main_nav.ejs %>
    <!-- Main Content -->
    <div class='container-fluid'>
      <div class="row outerDiv">
        <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
          <img class="img-responsive" style="margin-top: 50%" id="swoosh" src="../Assets/images/sideimagel.png">
        </div>
        <div class="col">
          <main class="container" style="background-color: black;">
            <div class="row">
              <div class="col-md">
                <!-- Home Page  -->
                <% if (title=="Home" ){ %>

                  <a class="btn btn-primary" href="/register">Sign Up Now</a>
                  <div class="container-fluid py-5">

                    <!--project detail page-->
                    <% } else if (title=="Projects" ){%>
                      <h2 class="display-4 fw-bold">Project Details</h2>
                      <h3>TO DO</h3>
                      <!-- Survey page-->
                      <% } else if (title=="Active Survey" ){%>
                        <!-- login page-->
                        <% } else if (title=="Login" ) {%>
                          <h2 class="display-4 fw-bold">Project Details</h2>
                          <h3>TO DO</h3>
                          <% } %>
                  </div>
              </div>

              <!-- If you click the div, you are directed to survey list page. -->
              <div class="container px-6">
                <div class="row gx-6">
                  <div style="margin-bottom: 30px; cursor: pointer; cursor: hand;" class="col"
                    onclick="location.href='/survey-list';">
                    <div class="p-4 cl c1">
                      Step 1
                      <h3 class="pt-5">Survey List.</h3>
                      <h1 style="text-align: right"><i class="fas fa-list"></i></h1>
                    </div>
                  </div>

                  <% if(typeof userId=='string' && userId) {%>
                    <div style="margin-bottom: 30px; cursor: pointer; cursor: hand;" class="col"
                      onclick="location.href='/survey-list';">
                      <div class="p-4 cl c2">
                        Step 2
                        <h3 class="pt-5"> Fill Up Surveys.</h3>
                        <h1 style="text-align: right"><i class="fas fa-user-edit"></i></h1>
                      </div>
                    </div>
                    <% } else { %>
                      <div style="margin-bottom: 30px; cursor: pointer; cursor: hand;" class="col"
                        onclick="location.href='/login';">
                        <div class="p-4 cl c2">
                          Step 2
                          <h3 class="pt-5"> Fill Up Surveys.</h3>
                          <h1 style="text-align: right"><i class="fas fa-user-edit"></i></h1>
                        </div>
                      </div>
                      <% } %>

                </div>
                <div style="margin-bottom: 30px; cursor: pointer; cursor: hand;" class="col">
                  <div class="p-4 cl c3">
                    Step 3
                    <h3 class="pt-5">Get Results.</h3>
                    <h1 style="text-align: right"><i class="fas fa-gift"></i></h1>
                  </div>
                </div>
              </div>
          </main>
        </div>

      </div>
    </div>

    <%- include partials/bottom_nav.ejs %>

      <%- include partials/footer.ejs %>