<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <!-- Main Content -->
        <div class='container-fluid'>
            <div class="row outerDiv">
                <div class="col-xs-3 col-md-2 imageDiv d-none d-lg-block">
                    <img class="img-responsive" style="margin-top: 100%" id="swoosh"
                        src="../Assets/images/sideimagel.png">
                </div>
                <div class="col">
                    <h1 class="fill fw-bold" style="text-align:center; color: rgb(247, 45, 89);">
                        Web Application Development (COMP229) <br />

                        Project Title: Survey Web Application<br />

                        Group: 04
                    </h1>
                    <br /><br />

                    <table style="text-align: left;color: rgb(151, 60, 153);">
                        <tbody>
                            <tr>
                                <th>Short Description:</th>
                                <td>&nbsp;&nbsp;&nbsp;This is an online survey web application for COMP229. In this web
                                    application you can register, login and create and submit a survey.
                                </td>
                            </tr>
                            <tr>
                                <th>No of members:</th>
                                <td>&nbsp;&nbsp;&nbsp;05</td>
                            </tr>
                            <tr>
                                <th>Technologies:</th>
                                <td>&nbsp;&nbsp;&nbsp;Nodejs, CSS, JavaScript and various packages</td>
                            </tr>
                            <tr>
                                <th>Database:</th>
                                <td>&nbsp;&nbsp;&nbsp;MongoDB</td>
                            </tr>
                            <tr>
                                <th>Database Server:</th>
                                <td>&nbsp;&nbsp;&nbsp;https://www.mongodb.com/cloud/atlas</td>
                            </tr>
                            <tr>
                                <th>Cloud Deployment:</th>
                                <td>&nbsp;&nbsp;&nbsp;https://www.heroku.com</td>
                            </tr>
                            <tr>
                                <th>Source Code:</th>
                                <td>&nbsp;&nbsp;&nbsp;https://github.com/pzsbbfan/WEB-APP-GROUP-PROJECT</td>
                            </tr>
                            <tr>
                                <th>Live URL:</th>
                                <td>&nbsp;&nbsp;&nbsp;https://WEB-APP-GROUP-PROJECT.herokuapp.com/</td>
                            </tr>
                        </tbody>
                        <tr>
                </div>
                </tr>
                </table>
            </div>
        </div>
        </main>
        </div>

        </div>
        </div>


        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>